<html>
<head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}/css/font-awesome.min.css">
</head>
<body>    
<h1>Inicio</h1>



          <div class="item"><div><i class="icon-star-empty"></i></div></div>
          <div class="item"><div><i class="icon-envelope"></i></div></div>
          <div class="item"><div><i class="icon-coffee"></i></div></div>
          <div class="item"><div><i class="icon-medkit"></i></div></div>
          <div class="item"><div><i class="icon-book"></i></div></div>
          <div class="item"><div><i class="icon-fighter-jet"></i></div></div>
          <div class="item"><div><i class="icon-edit"></i></div></div>

</body>    
</html>
